/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

config/*
/fe-demo/xiaomubiao/x6/
.DS_Store
fe-demo/.DS_Store
fe-demo/xiaomubiao/.DS_Store
fe-demo/xiaomubiao/x3/.DS_Store
