<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!--<property name="log.path" value="E:\\Java\\log\\mouse0823c"/>-->
    <property name="log.path" value="/Users/liming/Documents/java/java_self/git_site_self/repo_li/mouse0823c/logs"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} +--- %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file></file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} --- %contextName [%thread] %-5level %logger{36} --- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="commonLog" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <!-- logback为java中的包 -->
    <!--<logger name="com.dudu.controller"/>-->
    <!--logback.LogbackDemo：类的全路径 -->
    <!--<logger name="com.dudu.controller.LearnController" level="WARN" additivity="false">-->
    <!--<appender-ref ref="console"/>-->
    <!--</logger>-->
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <!--<springProfile name="test,dev,prd">-->
    <!--<logger name="com.xhc" level="info"/>-->
    <!--</springProfile>-->

    <!--<springProfile name="test">-->
    <!--<property name="log.path" value="/root/community_management/project/userapp/cm_logs"/>-->
    <!--</springProfile>-->
</configuration>