<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豌豆短信</title>
    <script src="mtlogin/jquery-2.1.0.js"></script>
</head>
<body>

<div align="center">
    <h1>发短信</h1>

    <form id="export" action="http://127.0.0.1:8089/sms" method="POST">
        手机号 <input name="phone" value=""/><br>
        名字 <input name="name" placeholder="发节日祝福需填写"/><br>
        内容 <input name="content" placeholder="发节日祝福需填写"/><br>
        类型 <input name="type" placeholder="1验证码短信；2节日祝福"/><br>
        cipher <input name="cipher" value=""/><br>
        <input type="submit" value="发送"/>
    </form>

    <!--<h2>节日</h2>-->
    <!--<form id="节日" action="http://127.0.0.1:8089/sms?type=2" method="POST">-->
    <!--手机号 <input name="phone" value=""/><br>-->
    <!--名字 <input name="name" value=""/><br>-->
    <!--内容 <input name="content" value=""/><br>-->
    <!--cipher <input name="cipher" value=""/><br>-->
    <!--<input type="submit" value="发送"/>-->
    <!--</form>-->
</div>

</body>
</html>