<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>

<div id="app" style="margin-left: 50px; margin-top: 50px">
    日期: <input type="date" v-model="addObj.happenTime"/>
    步数: <input type="number" v-model="addObj.reachAmount"/>
    用户:
    <!--<input v-model="addObj.userId"/>-->
    <select v-model="addObj.userId" style="width: 80px">
        <option selected="selected">请选择用户</option>
        <option v-for="(u, i) in users" :value="u.id">{{u.nick}}</option>
    </select>
    <button type="submit" @click="add">保存</button>
</div>


<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../config/config.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        // router : router,
        data: function () {
            return {
                activeIndex: 1,
                temp: {
                    levelDesc: 'levelDesc',
                    rate: 5
                },
                addObj: {},
                users: [
                    {id: 25, nick: '阿冷'},
                    {id: 26, nick: '阿管'},
                    {id: 27, nick: '阿力'},
                    {id: 28, nick: '阿鑫'},
                    {id: 1, nick: '阿明'}
                ]
            }
        },
        methods: {
            // handleSelect: function (key, path) {
            //     console.log(key, path)
            //     this.$router.push(key)
            // }
            add: function () {
                if (!this.addObj.happenTime) {
                    alert('请选择时间')
                    return
                }
                if (!this.addObj.reachAmount) {
                    alert('请填写步数')
                }
                if (!this.addObj.userId) {
                    alert('请选择用户')
                }
                this.addObj.remark = 'html add'
                console.log('addObj', this.addObj)
                $.ajax({
                    url: addMatterLogUrl,
                    // url: 'http://localhost:63342/matter_log/list',
                    async: true,
                    type: 'post',
                    dataType: 'json',
                    data: this.addObj,
                    success: function (resp) {
                        console.log('ajax matter_log add resp', resp)
                        if (resp.code == "2000") {
                            alert('成功')
                        } else {
                            alert(resp.message)
                        }
                        console.log('jie shu')
                    },
                    error: function (xhr, errorType, error) {
                        alert('Ajax request error, errorType: ' + errorType + ', error: ' + error);
                    }
                });
            }
        }
    });
</script>
</body>
</html>
