<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加-带权限校验</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .addArea {
            width: 160px;
            margin-top: 12px;
        }
    </style>
</head>
<body>

<div id="app" style="margin-left: 150px; margin-top: 50px">
    <h1>添加你的步数吧-a</h1>
    日期: <input type="date" v-model="addObj.happenTime" class="addArea"/>
    <br>
    步数: <input type="number" v-model="addObj.reachAmount" class="addArea"/>
    <br>
    <br>
    <button type="submit" @click="add" class="addArea" style="margin-left: 20px">保存</button>
</div>


<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="../config/config.js"></script>
<script src="../js/login/loginUtil.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        // router : router,
        data: function () {
            return {
                activeIndex: 1,
                temp: {
                    levelDesc: 'levelDesc',
                    rate: 5
                },
                addObj: {happenTime: echarts.format.formatTime('yyyy-MM-dd', new Date())},
                users: [
                    {id: 25, nick: '阿冷'},
                    {id: 26, nick: '阿管'},
                    {id: 27, nick: '阿力'},
                    {id: 28, nick: '阿鑫'},
                    {id: 1, nick: '阿明'}
                ]
            }
        },
        methods: {
            // handleSelect: function (key, path) {
            //     console.log(key, path)
            //     this.$router.push(key)
            // }
            add: function () {
                let token = window.localStorage.getItem('token');
                if (!token) {
                    // window.location.href = login.html
                    alert('请登录')
                    toLoginPage()
                    return
                }
                if (!this.addObj.happenTime) {
                    alert('请选择时间')
                    return
                }
                if (!this.addObj.reachAmount) {
                    alert('请填写步数')
                    return
                }
                this.addObj.remark = 'html add'
                this.addObj.happenTime = this.addObj.happenTime + ' 08:01:00'
                console.log('addObj', this.addObj)
                $.ajax({
                    url: addMatterLogCheckAuthUrl,
                    async: true,
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json;charset=UTF-8",
                    headers: {token: token},
                    data: JSON.stringify(this.addObj),
                    success: function (resp) {
                        console.log('ajax matter_log add resp', resp)
                        if (resp.code == "2000") {
                            alert('成功')
                        } else if (resp.code == '4005') {
                            toLoginPage()
                        } else {
                            alert(resp.message)
                        }
                        console.log('jie shu')
                    },
                    error: function (xhr, errorType, error) {
                        alert('Ajax request error, errorType: ' + errorType + ', error: ' + error);
                    }
                });
            }
        }
    });
</script>
</body>
</html>
